#breadcrumbs{
	position:relative;
	z-index:13;
	border-bottom:1px solid #e5e5e5;
	background-color:#f5f5f5;
	min-height:40px;
	line-height:39px;
	padding:0 12px 0 0;
	display:block;
}
#breadcrumbs.fixed{
	position:fixed;
	left:190px;
	right:0;
}
.breadcrumb{
	background-color:transparent;
	display:inline-block;
	line-height:24px;
	margin:0 22px 0 12px;
	padding:0;
	font-size:13px;
	color:#333;
	border-radius:0;
}
.breadcrumb>li,.breadcrumb>li.active{
	color:#555;
}
.breadcrumb>li>.divider{
	padding:0 4px;
}
.breadcrumb>li>a{
	display:inline-block;
	padding:0 4px;
	color:#4c8fbd;
}
.breadcrumb .icon-home{
	margin-left:4px;
	margin-right:2px;
	font-size:20px;
	position:relative;
	top:2px;
}
.breadcrumb .icon-angle-right{
	height:22px;
	padding:0;
	margin:0;
	position:relative;
	top:1px;
	font-size:14px;
	color:#b2b6bf;
}
.btn-icon-control {
	float: right;
	margin-right: 5px;
}
.btn-icon-control a>[class*="icon-"] {
	color: darkred;
	text-decoration:none;
}
.btn-icon-control a>[class*="icon-"]:hover {
	color: #0099FF;
	text-decoration:none;
}
#nav-search{
	position:absolute;
	top:5px;
	right:22px;
	line-height:24px;
	margin-right: 25px;
}
#nav-search .form-search{
	margin-top:1px;
}
#nav-search-input{
	border-color:#6fb3e0;
	border-width:1px;
	width:180px;
	height:18px!important;
	border-radius:4px!important;
	font-size:13px;
	color:#666!important;
	z-index:11;
	-webkit-transition:all ease .15s;
	-moz-transition:all ease .15s;-o-transition:all ease .15s;
	transition:all ease .15s;
}
#nav-search-input+.dropdown-menu{
	min-width:0;
	left:0;
	right:0;
}
#nav-search-input:focus{
	color:#656a72;
	box-shadow:none;
	opacity:1;
	filter:alpha(opacity=100);
}
#nav-search-btn{
	border-radius:0;
}
#nav-search-icon{
	color:#6fb3e0;
	font-size:14px;
	line-height:24px;
	margin-right: 5px;
}

#btn-scroll-up{
	border:0;
	position:absolute;
	right:2px;
	bottom:2px;
	line-height:20px;
	padding-bottom:4px;
}