#breadcrumbs{
	position:relative;
	z-index:13;
	border-bottom:1px solid #e5e5e5;
	background-color:#f5f5f5;
	min-height:40px;
	line-height:39px;
	padding:0 12px 0 0;
	display:block;
}
#breadcrumbs.fixed{
	position:fixed;
	left:190px;
	right:0;
}
.breadcrumb{
	background-color:transparent;
	display:inline-block;
	line-height:24px;
	margin:0 22px 0 12px;
	padding:0;
	font-size:13px;
	color:#333;
	border-radius:0;
}
.breadcrumb>li,.breadcrumb>li.active{
	color:#555;
}
.breadcrumb>li>.divider{
	padding:0 4px;
}
.breadcrumb>li>a{
	display:inline-block;
	padding:0 4px;
	color:#4c8fbd;
}
.breadcrumb .icon-home{
	margin-left:4px;
	margin-right:2px;
	font-size:20px;
	position:relative;
	top:2px;
}
.breadcrumb .icon-angle-right{
	height:22px;
	padding:0;
	margin:0;
	position:relative;
	top:1px;
	font-size:14px;
	color:#b2b6bf;
}
#nav-search{
	position:absolute;
	top:5px;
	right:22px;
	line-height:24px;
}
#nav-search .form-search{
	margin-top:1px;
}
#nav-search-input{
	border-color:#6fb3e0;
	border-width:1px;
	width:120px;
	height:18px!important;
	border-radius:4px!important;
	font-size:13px;
	color:#666!important;
	z-index:11;
	-webkit-transition:all ease .15s;
	-moz-transition:all ease .15s;-o-transition:all ease .15s;
	transition:all ease .15s;
}
#nav-search-input+.dropdown-menu{
	min-width:0;
	left:0;
	right:0;
}
#nav-search-input:focus{
	color:#656a72;
	box-shadow:none;
	opacity:1;
	filter:alpha(opacity=100);
}
#nav-search-btn{
	border-radius:0;
}
#nav-search-icon{
	color:#6fb3e0;
	font-size:14px;
	line-height:24px;
}

.btn{
	display:inline-block;
	color:#FFF!important;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25)!important;
	background-image:none!important;
	border:5px solid;
	border-radius:0;
	box-shadow:none!important;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
	cursor:pointer;
	vertical-align:middle;
	margin:0;
	position:relative;
	padding:0 12px 1px;
	line-height:32px;
	font-size:14px;
}
.btn-large{
	padding:0 14px 1px;
	line-height:38px;
	border-width:6px;
	font-size:16px;
}
.btn-small{
	padding:0 8px;
	line-height:24px;
	border-width:4px;
	font-size:13px;
}
.btn-mini{
	padding:0 5px;
	line-height:22px;
	border-width:2px;
	font-size:12px;
}
.btn-minier{
	padding:0 4px;
	line-height:18px;
	border-width:1px;
	font-size:11px;
}
button.btn:active{
	top:1px;
	left:1px;
}
.btn,.btn-default{
	background-color:#abbac3!important;
	border-color:#abbac3;
}
.btn:hover,.btn-default:hover{
	background-color:#8b9aa3!important;
}
.btn.no-border:hover,.btn-default.no-border:hover{
	border-color:#8b9aa3;
}
.btn.no-hover:hover,.btn-default.no-hover:hover{
	background-color:#abbac3!important;
}
.btn.active,.btn-default.active{
	background-color:#9baab3!important;
	border-color:#8a9ba6;
}
.btn.no-border.active,.btn-default.no-border.active{
	background-color:#92a3ac!important;
	border-color:#92a3ac;
}
.btn.disabled,.btn-default.disabled,.btn[disabled],.btn-default[disabled]{
	background-color:#abbac3!important;
}
.btn-primary{
	background-color:#2283c5!important;
	border-color:#2283c5;
}
.btn-primary:hover{
	background-color:#045e9f!important;
}
.btn-primary.no-border:hover{
	border-color:#045e9f;
}
.btn-primary.no-hover:hover{
	background-color:#2283c5!important;
}
.btn-primary.active{
	background-color:#1371b2!important;
	border-color:#105f96;
}
.btn-primary.no-border.active{
	background-color:#1268a4!important;
	border-color:#1268a4;
}
.btn-primary.disabled,.btn-primary[disabled]{
	background-color:#2283c5!important;
}
.btn-info{
	background-color:#6fb3e0!important;
	border-color:#6fb3e0;
}
.btn-info:hover{
	background-color:#4f99c6!important;
}
.btn-info.no-border:hover{
	border-color:#4f99c6;
}
.btn-info.no-hover:hover{
	background-color:#6fb3e0!important;
}
.btn-info.active{
	background-color:#5fa6d3!important;
	border-color:#4799cc;
}
.btn-info.no-border.active{
	background-color:#539fd0!important;
	border-color:#539fd0;
}
.btn-info.disabled,.btn-info[disabled]{
	background-color:#6fb3e0!important;
}
.btn-success{
	background-color:#87b87f!important;
	border-color:#87b87f;
}
.btn-success:hover{
	background-color:#629b58!important;
}
.btn-success.no-border:hover{
	border-color:#629b58;
}
.btn-success.no-hover:hover{
	background-color:#87b87f!important;
}
.btn-success.active{
	background-color:#75aa6c!important;
	border-color:#649c5a;
}
.btn-success.no-border.active{
	background-color:#6ba462!important;
	border-color:#6ba462;
}
.btn-success.disabled,.btn-success[disabled]{
	background-color:#87b87f!important;
}
.btn-warning{
	background-color:#ffb752!important;
	border-color:#ffb752;
}
.btn-warning:hover{
	background-color:#e59729!important;
}
.btn-warning.no-border:hover{
	border-color:#e59729;
}
.btn-warning.no-hover:hover{
	background-color:#ffb752!important;
}
.btn-warning.active{
	background-color:#f2a73e!important;
	border-color:#f09a21;
}
.btn-warning.no-border.active{
	background-color:#f1a02f!important;
	border-color:#f1a02f;
}
.btn-warning.disabled,.btn-warning[disabled]{
	background-color:#ffb752!important;
}
.btn-danger{
	background-color:#d15b47!important;
	border-color:#d15b47;
}
.btn-danger:hover{
	background-color:#b74635!important;
}
.btn-danger.no-border:hover{
	border-color:#b74635;
}
.btn-danger.no-hover:hover{
	background-color:#d15b47!important;
}
.btn-danger.active{
	background-color:#c4513e!important;
	border-color:#ae4635;
}
.btn-danger.no-border.active{
	background-color:#ba4b39!important;
	border-color:#ba4b39;
}
.btn-danger.disabled,.btn-danger[disabled]{
	background-color:#d15b47!important;
}
.btn-inverse{
	background-color:#555!important;
	border-color:#555;
}
.btn-inverse:hover{
	background-color:#303030!important;
}
.btn-inverse.no-border:hover{
	border-color:#303030;
}
.btn-inverse.no-hover:hover{
	background-color:#555!important;
}
.btn-inverse.active{
	background-color:#434343!important;
	border-color:#333;
}
.btn-inverse.no-border.active{
	background-color:#3b3b3b!important;
	border-color:#3b3b3b;
}
.btn-inverse.disabled,.btn-inverse[disabled]{
	background-color:#555!important;
}
.btn-pink{
	background-color:#d6487e!important;
	border-color:#d6487e;
}
.btn-pink:hover{
	background-color:#b73766!important;
}
.btn-pink.no-border:hover{
	border-color:#b73766;
}
.btn-pink.no-hover:hover{
	background-color:#d6487e!important;
}
.btn-pink.active{
	background-color:#c74072!important;
	border-color:#b33564;
}
.btn-pink.no-border.active{
	background-color:#be386a!important;
	border-color:#be386a;
}
.btn-pink.disabled,.btn-pink[disabled]{
	background-color:#d6487e!important;
}
.btn-purple{
	background-color:#9585bf!important;
	border-color:#9585bf;
}
.btn-purple:hover{
	background-color:#7461aa!important;
}
.btn-purple.no-border:hover{
	border-color:#7461aa;
}
.btn-purple.no-hover:hover{
	background-color:#9585bf!important;
}
.btn-purple.active{
	background-color:#8573b5!important;
	border-color:#735faa;
}
.btn-purple.no-border.active{
	background-color:#7c69af!important;
	border-color:#7c69af;
}
.btn-purple.disabled,.btn-purple[disabled]{
	background-color:#9585bf!important
}
.btn-grey{
	background-color:#a0a0a0!important;
	border-color:#a0a0a0;
}
.btn-grey:hover{
	background-color:#888!important;
}
.btn-grey.no-border:hover{
	border-color:#888;
}
.btn-grey.no-hover:hover{
	background-color:#a0a0a0!important;
}
.btn-grey.active{
	background-color:#949494!important;
	border-color:#858585;
}
.btn-grey.no-border.active{
	background-color:#8c8c8c!important;
	border-color:#8c8c8c;
}
.btn-grey.disabled,.btn-grey[disabled]{
	background-color:#a0a0a0!important;
}
.btn-yellow{
	background-color:#fee188!important;
	border-color:#fee188;
	color:#963!important;
	text-shadow:0 -1px 0 rgba(255,255,255,0.4)!important;
}
.btn-yellow:hover{
	background-color:#f7d05b!important;
}
.btn-yellow.no-border:hover{
	border-color:#f7d05b;
}
.btn-yellow.no-hover:hover{
	background-color:#fee188!important;
}
.btn-yellow.active{
	background-color:#fbd972!important;
	border-color:#fad054;
}
.btn-yellow.no-border.active{
	background-color:#fad463!important;
	border-color:#fad463;
}
.btn-yellow.disabled,.btn-yellow[disabled]{
	background-color:#fee188!important;
}
.btn-light{
	background-color:#e7e7e7!important;
	border-color:#e7e7e7;
	color:#888!important;
	text-shadow:0 -1px 0 rgba(250,250,250,0.25)!important;
}
.btn-light:hover{
	background-color:#d9d9d9!important;
}
.btn-light.no-border:hover{
	border-color:#d9d9d9;;
}
.btn-light.no-hover:hover{
	background-color:#e7e7e7!important;
}
.btn-light.active{
	background-color:#e0e0e0!important;
	border-color:#d1d1d1;
}
.btn-light.no-border.active{
	background-color:#d8d8d8!important;
	border-color:#d8d8d8;
}
.btn-light.disabled,.btn-light[disabled]{
	background-color:#e7e7e7!important;
}
.btn-light.btn-mini:after{
	left:-2px;
	right:-2px;
	top:-2px;
	bottom:-2px;
}
.btn-light.btn-small:after{
	left:-4px;
	right:-4px;
	top:-4px;
	bottom:-4px
}
.btn-light.btn-large:after{
	left:-6px;
	right:-6px;
	top:-6px;
	bottom:-6px;
}
.btn.disabled.active,.btn[disabled].active,.btn.disabled:focus,.btn[disabled]:focus,.btn.disabled:active,.btn[disabled]:active{
	outline:0;
}
.btn.disabled:active,.btn[disabled]:active{
	top:0;
	left:0;
}
.btn.active{
	color:#efe5b5;
}
.btn.active:after{
	display:inline-block;
	content:"";
	position:absolute;
	border-bottom:1px solid #efe5b5;
	left:-4px;
	right:-4px;
	bottom:-4px;
}
.btn.active.btn-small:after{
	left:-3px;
	right:-3px;
	bottom:-3px;
	border-bottom-width:1px;
}
.btn.active.btn-large:after{
	left:-5px;
	right:-5px;
	bottom:-5px;
	border-bottom-width:1px;
}
.btn.active.btn-mini:after,.btn.active.btn-minier:after{
	left:-1px;
	right:-1px;
	bottom:-1px;
	border-bottom-width:1px;
}
.btn.active.btn-yellow:after{
	border-bottom-color:#c96338;
}
.btn.active.btn-light{
	color:#515151;
}
.btn.active.btn-light:after{
	border-bottom-color:#b5b5b5;
}
.btn>[class*="icon-"]{
	display:inline;
	margin-right:4px;
	min-width:12px;
}
.btn>[class*="icon-"].icon-on-right{
	margin-right:0;
	margin-left:4px;
}
.btn>.icon-only[class*="icon-"]{
	margin:0;
	vertical-align:middle;
	text-align:center;
	padding:0;
	min-width:24px;
}
.btn-large>[class*="icon-"]{
	margin-right:6px;
}
.btn-large>[class*="icon-"].icon-on-right{
	margin-right:0;
	margin-left:6px;
}
.btn-small>[class*="icon-"]{
	margin-right:3px;
}
.btn-small>[class*="icon-"].icon-on-right{
	margin-right:0;
	margin-left:3px;
}
.btn-mini>[class*="icon-"],.btn-minier>[class*="icon-"]{
	margin-right:2px;
}
.btn-mini>[class*="icon-"].icon-on-right,.btn-minier>[class*="icon-"].icon-on-right{
	margin-right:0;
	margin-left:2px;
}
#btn-scroll-up{
	border:0;
	position:absolute;
	right:2px;
	bottom:2px;
	line-height:20px;
	padding-bottom:4px;
}