<div id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="#">Home</a>

			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		<li>
			Collection
			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		<li>
			<a href="#books">Books</a>
			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		<li><%= title %></li>
	</ul><!--.breadcrumb-->
</div>

<div id="page-content" class="clearfix">
	<div id="book" class="book-item" style="margin-bottom:0;">
		<div class="title">
			<%= title %>
			<a href="#books/edit/<%= id %>"><i class="control icon-edit"></i></a>
			<a href=""><i class="control icon-trash"></i></a>
		</div>
		<div class="header">
			<div class="cover">
				<a href="" title="">
					<img src="css/images/no_image.jpg" alt=""/>
				</a>
			</div>
			<div class="bookinfo">
				<p>
					Author: <%= author %> <br/>
					Category: <%= category %> <br/>
					Publisher: <%= publisher %><br/>				
				</p>
			</div>
		</div>
		<div class="desc">
			<h4>Book Description</h4>
			<p>
				<%= description %> <br/>
			</p>
		</div>
	</div>
</div><!--/#page-book-->